*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: rgb(196, 44, 17);
   color: aliceblue;
}
.navbar{
   background-color: rgb(116, 110, 110);
   height: 80px;
   width: 100vw;
   color: aliceblue;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   text-align: center;
   align-items: center;
   position:fixed;
}

.navbar img{
   height: 100px;
   width: 100px;
   margin: 10px 20px;
   padding: 12px 10px;
   /* border: 3px solid red; */
   border-radius: 50%;
}

.navbar .name{
   font-size: 35px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   letter-spacing: 1px;
   color: yellow;
}

.tabs{
   display: flex;
   flex-direction: row;
   gap: 40px;
   list-style: none;
   font-size: 25px;
   padding: 50px;
}

.tabs a{
   color: aliceblue;
   text-decoration: none;
}

.tabs a:hover{
   text-decoration: underline yellow;
   font-weight: bold;
}

.hero-section{
   display: flex;
   flex-direction: row;
   justify-content: space-between;  
}

.hero-section img{
   margin-top: 120px;
   margin-left: 70px;
   height: 80vh;
   width: 50vw;
   border-radius: 20%;
}

.hero-section img:hover{
   scale: 115%;
   overflow: hidden;
}

.hero-txt{
   margin: 120px;
   margin-right: 100px; 
}

.hero-txt h2{
   font-size: 50px;
   color: yellow;
   line-height: 250%;
}

.hero-txt .skills{
   font-size: 30px;
   line-height: 200%;
   list-style: square;
   list-style-position: inside;
}

.title-heading{
   margin: 10px;
   font-size: 35px;
   color: yellow;
   line-height: 250%;
}

.project-imgs{
   margin: 10px 30px;
   padding: 10px;
   height: 85vh;
   width: 95vw;
   border: 3px solid aliceblue;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.project-imgs .prjct-img{
   height: 17.5rem;
   width: 20rem;
   border-radius: 20%;
}

.user-reviews{
   margin: 10px 30px;
   padding: 10px;
   height: 75vh;
   width: 95vw;
   border: 3px solid aliceblue;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-evenly;
}

.user-reviews .user{
   /* border: 2px solid yellow; */
   color: black;
   background-color: aliceblue;
   box-shadow: 15px 15px 15px black;
   align-items: center;
   text-align: center;
   height: 28rem;
   width: 25rem;
   margin: auto;
   padding: 10px;
   border-radius: 25%;
}

.user-reviews .user img{
   height: 300px;
   width: 200px;
   border-radius: 20%;
}

.user-reviews .user h6{
   font-size: 30px;
   font-family: 'Courier New', Courier, monospace;
   font-style: italic;
}

.user-reviews .user p{
   font-size: 20px;
   line-height: 30px;
}

.About .abt-cnt{
   margin: 10px 30px;
   padding: 10px;
   height: 80vh;
   width: 95vw;
   border: 3px solid aliceblue;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
}

.About .abt-cnt .inquiry{
   display: flex;
   flex-direction: column;
   /* border: 2px solid yellow; */
   height: 450px;
   width: 400px;
   border-radius: 20%;
   margin: 15px 50px;
   padding: 20px;
   font-size: 50px;
   line-height: 80px;
}

.About .abt-cnt .inquiry .i-txt{
   font-size: 25px;
   margin: 10px;
   padding: 10px;
   border-radius: 15px;
}

.About .abt-cnt .inquiry .btn{
   height: 40px;
   width: 100px;
   font-size: 20px;
   margin: 20px 100px;
   border: 1.5px solid black;
   border-radius: 50px;
   box-shadow: 4px 6px 5px;
   cursor: pointer;
   font-weight: bold;
}

.abt-cnt .owner{
   margin-right: 100px;
   padding: 20px;
   width: 450px;
   font-size: 30px;
   line-height: 50px;
   text-align: center;
   text-wrap: wrap;
}

.abt-cnt .owner h4{
   font-family: 'Courier New', Courier, monospace;
   font-style: italic;
   text-decoration: underline yellow;
}

.owner img{
   height: 300px;
   width: 350px;
   border-radius: 50%;
}
